

<header> <h1 id="title">Users</h1>
</header>
<hr>

<body>

<div class="imagee">
  <img src='/assets/searchIcon.png' class ="imgg">
  <input type="text"  id="myInput" placeholder="Search for users.." [(ngModel)]="term">

    </div>

    <p>
     <a routerLink="/users/create">
        <button type = "button" id = "delButton">Create</button></a>
      </p>



    <div class="grid-container" id="gridContainer" >

      <table class="info-table">
          <tr>

          <th tabindex ="0" role="button" scope ="col"> 
              <p> ID</p>
          </th>
          <th tabindex ="0" role="button" scope ="col"> 
              <p>Name</p>
          </th>

          <th tabindex ="0" role="button" scope ="col"> 
              <p>Email</p>
          </th>

          <th tabindex ="0" role="button" scope ="col"> 
              <p>Age</p>
          </th>

          <th tabindex ="0" role="button" scope ="col">
              <p>E/D</p>
           </th>


          </tr>
          <tr  *ngFor="let user of users | filter:term">
              <td>
                   {{user.id}}
              </td>
              <td>
                <a [routerLink]="['/users', user.id]"> {{user.userName}}</a>
              </td>
              <td>
                  {{user.userEmail}}
              </td>
              <td>
                  {{user.userAge}}
              </td>
             

              <td>
              <div class= ".ie-container">
                <div class= "invest-delete">
                 
              </div>
              <div class= "invest-delete">
                <img src='/assets/delete.png' class="deleteImg"  (click) = "deleteUsers(user.id)">
              <div>
                Delete
                  </div>
                  </div>
                </div>
              </td>
              
          </tr>
          
      </table> 

    </div>